@import "fonts.css";

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-sans: HIKARUMONO, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    background-color: aliceblue;

}
@font-face {
  font-family: 'HIKARUMONO';
  src:
    url('./fonts/HIKARUMONO-Regular/HIKARUMONO-Regular.woff2') format('woff2 supports variations'),
    url('./fonts/HIKARUMONO-Regular/HIKARUMONO-Regular.woff2') format('woff2-variations');
  font-weight: 300 900;
}

@font-face {
  font-family: 'Overused Grotesk';
  src:
    url('./fonts/OverusedGrotesk/OverusedGrotesk-Book.woff2') format('woff2 supports variations'),
    url('./fonts/OverusedGrotesk/OverusedGrotesk-Book.woff2') format('woff2-variations');
  font-weight: 300 900;
}