.main {
  background-image: url('./vanish.png');
  display:flex;
  flex-direction: column;
  background-size:cover;
  width: 100%;
  height: 175vh;
  justify-content:left;
}
.container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  width: 30vw;
}
.title {
  font-family: 'HIKARUMONO';
  font-size: 36pt;
  color:black;
  /* transform: rotate(45deg); */
}
.footer {
  display: flex;
  align-items: center;
  width: 30vw;
  margin-top: 50vh;
}
.soon {
  font-family: 'HIKARUMONO';
  font-size: 24pt;
  color:black;
}
body {
  margin: 0px;
}
@media (max-width: 600px) {
  .title {
    width: 100vw; /* Adjust width for smaller screens */
    word-wrap: break-word; /* Enable text wrapping */
  }
}