.main {
  background-image: url('./vanish.png');
  background-size:cover;
  width: 100%;
  height: 175vh;
  justify-content:left;
}
.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 30vw;
}
.title {
  font-family: 'HIKARUMONO';
  font-size: 36pt;
  color:black;
  display: flex;
  align-items: center;
  /* transform: rotate(45deg); */
}
.entry {
  font-family: 'HIKARUMONO';
  font-size: 24pt;
  color:black;
  margin-left: 5vw;
  display: inline-block;
  /* align-items: flex-start; */
  position: relative;
  cursor: pointer;
  padding-bottom: 5px;
  margin-top: 5vh;
}
.entry::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 3px;
  background-color: rgb(43, 89, 40); /* Bar color */
  transition: width 0.3s ease-in-out;
}

.entry:hover::after {
  width: 100%;
}
body {
  margin: 0px;
}


@media (max-width: 600px) {
  .title {
    width: 100vw; /* Adjust width for smaller screens */
    word-wrap: break-word; /* Enable text wrapping */
  }
}